* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
 
}

.navbar {
    background-color: #a6849c;

}

.nav-link{
    color: rgb(236, 236, 236);

}

.section {
    height: 600px;
    background-image: url(../imagenes/foto-fodno.png);
    background-position: center;
    background-size: 130rem;
    background-repeat: no-repeat;
    background-color: #f6e6d4;
}

.display-2 {
    height: 100%;
    color: #4e4e50;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.display-2-intro {
    font-weight: 700;
    padding: 2rem;
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 10px 10px 0px 0px;
}

.display-2-description {
    font-size: 14px;
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 18px;
    font-size: 1.4rem;
    background-color: rgba(248, 248, 248, 0.7);
    padding: 2rem;
    font-weight: 400;
    border-radius: 10px;
}

.resaltado {
    letter-spacing: 1px;
    font-weight: 600;
}

.look-title {
    padding: 3rem;
    text-align: center;
    background-color: #a6849c;
    font-size: 1.4rem
}



.zoomable:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }



.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.container-flex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
}



.sidebar {
    position: fixed;
    top: 7.9rem;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    background-color: #f6e6d4;
}

.bi-chevron-down{
    color: #a6849c;
}

.row{
    padding: 10px;
    margin: 10px;
}

.list{
    color: #a6849c;
    text-decoration: none;
}

.dirección{
    color: #a6849c;

}
  
.list-unstyled {
    text-decoration: none;
    color: #ffd6f2;
}
