@charset "UTF-8";
.título {
  font-size: 1rem;
  color: #5e1f4b;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.perfil h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.perfil p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.perfil img {
  max-width: 100%;
  height: auto;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.info p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.info img {
  max-width: 100%;
  height: auto;
}

.btn-pink {
  background-image: linear-gradient(to right, #e07ebf, #ff477e);
  border-color: #ff477e;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  width: 100px;
}
.btn-pink.animate__animated {
  animation-duration: 1s;
}
.btn-pink.animate__animated.animate__pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.btn-pink:hover {
  background-image: linear-gradient(to right, #ff477e, #e07ebf);
  border-color: #e07ebf;
}

.section {
  height: 600px;
  background-image: url(../imagenes/foto-fodno.png);
  background-position: center;
  background-size: 130rem;
  background-repeat: no-repeat;
  background-color: #f6e6d4;
}

.display-2 {
  height: 100%;
  color: #4e4e50;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-2-intro {
  font-weight: 700;
  padding: 2rem;
  background-color: rgba(248, 248, 248, 0.7);
  border-radius: 10px 10px 0px 0px;
}

.display-2-description {
  font-size: 14px;
  letter-spacing: 3px;
  word-spacing: 10px;
  line-height: 18px;
  font-size: 1.4rem;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 2rem;
  font-weight: 400;
  border-radius: 10px;
}

.resaltado {
  letter-spacing: 1px;
  font-weight: 600;
}

.look-title {
  padding: 3rem;
  text-align: center;
  background-color: #a6849c;
  font-size: 1.4rem;
}

.zoomable:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.bi-chevron-down {
  color: #a6849c;
}

.custom-btn {
  background-color: #ecafcd;
  border-color: #d494b3;
  color: rgb(108, 9, 57);
}

.custom-btn:hover {
  background-color: #b7698f;
  border-color: #b7698f;
}

.list-unstyled {
  list-style: none;
  text-decoration: none;
}
.list-unstyled li {
  padding: 2px;
  display: flex;
  text-decoration: none;
}
.list-unstyled li a {
  text-decoration: none;
  font-size: 16px;
  color: #ffbdef;
}

.row {
  padding: 10px;
  margin: 10px;
}

.list {
  color: #a6849c;
  text-decoration: none;
}

.dirección {
  color: #a6849c;
}

.navbar {
  background-color: #a6849c;
}

.nav-link {
  color: rgb(236, 236, 236);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-flex {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
}

.sidebar {
  position: fixed;
  top: 7.9rem;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  background-color: #f6e6d4;
}

.btn-link .fas.fa-chevron-down {
  color: #ff477e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.animate__bounceInUp {
  animation-name: animate__bounceInUp;
  animation-duration: 1s;
}

@keyframes animate__bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -30px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: none;
  }
}
h1.animate__bounceInUp {
  font-size: 3em;
  color: #84687c;
  text-align: center;
  margin-top: 2em;
  text-shadow: 2px 2px 4px rgba(132, 104, 124, 0.3647058824);
}

.carousel {
  margin-bottom: 100px;
  max-height: 500px;
}

.carousel-inner img {
  object-fit: cover;
}

@media (max-width: 576px) {
  .carousel {
    max-height: 300px;
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.carousel-item img {
  filter: brightness(45%);
}

.carousel-caption {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4274509804);
}

.card.shadow-sm {
  margin-bottom: 100px;
}

.card.shadow-sm:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
