@charset "UTF-8";
.título {
  font-size: 1rem;
  color: #5e1f4b;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.perfil h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.perfil p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.perfil img {
  max-width: 100%;
  height: auto;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.info p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.info img {
  max-width: 100%;
  height: auto;
}

.btn-pink {
  background-image: linear-gradient(to right, #e07ebf, #ff477e);
  border-color: #ff477e;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
}
.btn-pink.animate__animated {
  animation-duration: 1s;
}
.btn-pink.animate__animated.animate__pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.btn-pink:hover {
  background-image: linear-gradient(to right, #ff477e, #e07ebf);
  border-color: #e07ebf;
}

.section {
  height: 600px;
  background-image: url(../imagenes/foto-fodno.png);
  background-position: center;
  background-size: 130rem;
  background-repeat: no-repeat;
  background-color: #f6e6d4;
}

.display-2 {
  height: 100%;
  color: #4e4e50;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-2-intro {
  font-weight: 700;
  padding: 2rem;
  background-color: rgba(248, 248, 248, 0.7);
  border-radius: 10px 10px 0px 0px;
}

.display-2-description {
  font-size: 14px;
  letter-spacing: 3px;
  word-spacing: 10px;
  line-height: 18px;
  font-size: 1.4rem;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 2rem;
  font-weight: 400;
  border-radius: 10px;
}

.resaltado {
  letter-spacing: 1px;
  font-weight: 600;
}

.look-title {
  padding: 3rem;
  text-align: center;
  background-color: #a6849c;
  font-size: 1.4rem;
}

.zoomable:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.bi-chevron-down {
  color: #a6849c;
}

.list-unstyled {
  list-style: none;
  text-decoration: none;
}
.list-unstyled li {
  padding: 2px;
  display: flex;
  text-decoration: none;
}
.list-unstyled li a {
  text-decoration: none;
  font-size: 16px;
  color: #ffbdef;
}

.row {
  padding: 10px;
  margin: 10px;
}

.list {
  color: #a6849c;
  text-decoration: none;
}

.dirección {
  color: #a6849c;
}

.navbar {
  background-color: #a6849c;
}

.nav-link {
  color: rgb(236, 236, 236);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-flex {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
}

.sidebar {
  position: fixed;
  top: 7.9rem;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  background-color: #f6e6d4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
