.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.container-flex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
}



.sidebar {
    position: fixed;
    top: 7.9rem;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    background-color: #f6e6d4;
}

.btn-link .fas.fa-chevron-down {
    color:#ff477e;
  }
  





